/*********************************************************************
* Colors
*********************************************************************/
$primary-color: #CC0000;
$primary-color-dark: #AA0000;
$primary-color-light: #FF0000;

$secondary-color: #CCCCCC;
$secondary-color-dark: #AAAAAA;
$secondary-color-light: #FFFFFF;

/*********************************************************************
* Fonts and size
*********************************************************************/
$font-size: 14px;
$big-font-size: 42px;

$header-size: 100px;
$footer-size: 24px;

$none: 0px;
$full: 100%;
